@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: none !important;
}

body {
  background-color: #ffffff;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img_wrapper {
  background-size: cover !important;
  background-position: 50% 50% !important;
  overflow: hidden;
  background-repeat: no-repeat !important;
}

.menu_hover {
  position: relative;
  z-index: 2;
}

.menu_hover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: scaleY(1.5);
          transform: scaleY(1.5);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.menu_hover:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.menu_hover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.menu_hover:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.section_title {
  color: #9b0000;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

.section_title h3 {
  font-weight: bolder;
  position: relative;
  padding: 5px;
}

.section_title h3:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #9b0000;
}

.section_title p {
  color: black;
}

.notch_wrapper {
  position: relative;
}

.notch_wrapper:before {
  content: "";
  height: 100px;
  background: url(../img/wave-large.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.notch_wrapper:after {
  content: "";
  height: 100px;
  background: url(../img/wave-large.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.inner_page_background {
  position: relative;
  overflow: hidden;
  height: 300px;
  color: white;
}

.inner_page_background h1 {
  font-weight: bolder;
  position: relative;
}

.inner_page_background a {
  color: white;
}

.inner_page_background p {
  padding: 5px;
}

.country_page_background {
  position: relative;
  overflow: hidden;
  height: 100vh;
  color: white;
}

.country_page_background h1 {
  font-weight: bolder;
  position: relative;
}

.country_page_background a {
  color: white;
}

.country_page_background p {
  padding: 5px;
}

.country_page_background:after {
  content: "";
  height: 100px;
  background: url(../img/wave-large.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.top_nav {
  z-index: 2;
  background: #9b0000;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
}

.top_nav span {
  font-size: 12px;
}

.top_nav .top_socialmedia i {
  padding: 5px;
  border: 0.5px solid #9b0000;
  border-radius: 5px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin: 3px;
  color: white;
  font-size: 12px;
}

.top_nav .top_socialmedia i:hover {
  border: 0.5px solid white;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

header nav {
  position: fixed !important;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2) !important;
}

header nav .collapse ul {
  float: right;
  margin: 5px 10px;
}

header nav .nav-item {
  margin: 0 20px;
  color: white;
  font-size: 15px;
}

header nav a:hover {
  color: #9b0000;
}

header nav .navbar-brand img {
  width: 40%;
}

header .navbar-toggler {
  background: #9b0000;
}

header .navbar-toggler i {
  color: white;
}

.top_slider {
  position: relative;
  overflow: hidden;
  color: white;
  /* Slider */
  /* Transitions */
}

.top_slider h1 {
  font-size: 60px !important;
}

.top_slider p {
  font-size: 30px !important;
}

.top_slider a {
  background: white;
  padding: 10px 30px;
  color: black;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.top_slider a:hover {
  background: #9b0000;
  color: white;
}

.top_slider .img_wrapper {
  height: 100vh;
}

.top_slider .slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.top_slider .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.top_slider .slick-list:focus {
  outline: none;
}

.top_slider .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.top_slider .slick-slider .slick-track,
.top_slider .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.top_slider .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.top_slider .slick-track:before,
.top_slider .slick-track:after {
  display: table;
  content: '';
}

.top_slider .slick-track:after {
  clear: both;
}

.top_slider .slick-loading .slick-track {
  visibility: hidden;
}

.top_slider .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.top_slider [dir='rtl'] .slick-slide {
  float: right;
}

.top_slider .slick-slide img {
  display: block;
}

.top_slider .slick-slide.slick-loading img {
  display: none;
}

.top_slider .slick-slide.dragging img {
  pointer-events: none;
}

.top_slider .slick-initialized .slick-slide {
  display: block;
}

.top_slider .slick-loading .slick-slide {
  visibility: hidden;
}

.top_slider .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.top_slider .slick-arrow.slick-hidden {
  display: none;
}

.top_slider #home.ct-header.ct-header--slider {
  background-size: cover;
}

.top_slider .ct-header .ct-slick {
  margin-bottom: 0;
}

.top_slider .slick-initialized .slick-slide {
  display: block;
}

.top_slider .ct-u-display-tablex {
  display: table;
  width: 100%;
  height: 600px;
}

.top_slider .ct-u-display-tablex > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.top_slider .ct-slick .slick-track,
.top_slider .ct-slick .slick-list,
.top_slider .ct-slick .item,
.top_slider .ct-slick .slick-item {
  min-height: inherit;
}

.top_slider .ct-slick .item {
  background-size: cover;
}

.top_slider .slick-list {
  height: 600px;
}

.top_slider .activate {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha opacity=100;
  filter: alpha(opacity=100);
}

.top_slider .animated {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha opacity=0;
  filter: alpha(opacity=0);
}

.top_slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.top_slider .slick-arrow span {
  font-size: 25px;
}

.top_slider .right.slick-arrow {
  right: 15px;
}

.top_slider .left.slick-arrow {
  left: 15px;
  z-index: 99;
}

.top_slider:after {
  content: "";
  height: 100px;
  background: url(../img/wave-large.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro .title {
  margin: 40px auto;
}

.intro .intro_image img {
  width: 100%;
}

.intro h2 {
  color: #9b0000;
}

.intro span {
  position: relative;
}

.intro span:before {
  content: "";
  background: #9b0000;
  position: absolute;
  height: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  left: -70px;
}

.intro a {
  color: #9b0000;
  border: 0.5px solid #9b0000;
  padding: 5px 10px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.intro a:hover {
  color: white;
  background: #9b0000;
}

.discover {
  margin: 30px auto;
  margin-top: 60px;
  padding-bottom: 20px;
}

.discover a {
  position: absolute;
  top: 85%;
  bottom: 0;
  right: 0;
  left: 0;
  color: #9b0000;
  text-align: center;
  padding: 15px 20px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background: rgba(255, 255, 255, 0.5);
}

.discover .place:hover a {
  top: 0;
  color: white;
  background: rgba(155, 0, 0, 0.4);
}

.discover .discover_wrap {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 8px;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (minmax(100px, auto))[4];
      grid-template-rows: repeat(4, minmax(100px, auto));
}

.discover .discover_wrap img {
  width: 100%;
}

.discover .place-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.discover .place-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.discover .place-3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.discover .place-4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.discover .place-5 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.discover .place {
  position: relative;
  cursor: pointer;
}

.discover .place_small a {
  top: 75%;
  padding-top: 5px;
}

.discover .place_small p {
  font-size: 14px;
}

.discover h4, .discover h6 {
  font-weight: bolder;
}

.discover i {
  padding: 5px;
  margin-left: 10px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  font-size: 25px;
}

.discover .place:hover i {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

.why_us {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/why2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/why2.jpg);
  height: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  position: relative;
  background-attachment: fixed;
}

.why_us .why_us_wrap {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.why_us .section_title {
  margin-bottom: 0px;
  color: white;
}

.why_us a {
  z-index: 11;
}

.why_us i {
  font-size: 40px;
  border-radius: 50%;
  padding: 30px;
}

.packages {
  margin-top: 50px;
  margin-bottom: 30px;
}

.packages .accordion button {
  position: relative;
  width: 100%;
  text-decoration: none;
  color: #9b0000;
  font-weight: bolder;
  height: 100%;
}

.packages .accordion button i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  font-size: 20px;
}

.packages .package_wrap {
  position: relative;
  width: 33.3%;
  color: white;
  padding: 20px;
}

.packages .package_wrap .image {
  height: 200px;
  width: 100%;
  position: relative;
}

.packages .package_wrap h6 {
  background: #9b0000;
  padding: 10px;
}

.packages .package_wrap .cost {
  background: #009b00;
  width: auto;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  top: 20px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.packages .package_wrap .details {
  padding: 10px;
  background: rgba(155, 0, 0, 0.4);
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.packages .package_wrap .details button {
  background: #009b00;
  color: white;
  outline: none;
  border: none;
  width: 50%;
  height: 20%;
}

.packages .package_wrap .details p {
  font-size: 14px;
}

.packages .package_wrap:hover .details {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.packages .package_wrap:hover .cost {
  opacity: 0;
}

.expectation .section_title {
  margin-bottom: 0px;
}

.expectation a {
  z-index: 11;
}

.expectation .expectation_wrap img {
  width: 40%;
  padding: 10px;
}

.expectation .box {
  width: 15%;
  margin: 15px;
  padding: 0px;
  position: relative;
}

.expectation .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.expectation .box:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.expectation .box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-right: 1px solid black;
  border-left: 1px solid black;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.expectation .box:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.testimonials {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.6))), url(../img/testimonials.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/testimonials.jpg);
  height: 500px;
  position: relative;
  color: white;
  background-attachment: fixed;
}

.testimonials .testimonials_slider {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .testimonials_pp {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid #9b0000;
  margin: 0 auto;
}

.testimonials i {
  font-size: 40px;
  padding: 10px;
}

.testimonials p {
  padding: 10px;
}

.testimonials span {
  font-weight: bolder;
}

.upcoming .img_wrapper {
  width: 40%;
  height: 300px;
}

.upcoming .upcoming_slider {
  -webkit-box-shadow: 0px 0px 25px -15px black;
          box-shadow: 0px 0px 25px -15px black;
}

.upcoming .details {
  width: 60%;
  padding: 20px;
}

.upcoming .cost {
  padding: 20px;
  margin-left: 20px;
}

.upcoming .cost h4 {
  padding: 10px;
}

.upcoming .cost a {
  background: #009b00;
  padding: 10px 30px;
  color: white;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}

.upcoming .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.upcoming .slick-arrow span {
  font-size: 20px;
}

.upcoming .right.slick-arrow {
  right: -20px;
}

.upcoming .left.slick-arrow {
  left: -20px;
  z-index: 99;
}

.blog {
  padding-top: 20px;
  margin-bottom: 30px;
}

.blog .section_title {
  margin-top: 60px;
}

.blog .img_wrapper {
  height: 200px;
  position: relative;
}

.blog .top_readme a {
  color: #9b0000;
}

.blog .date {
  background: #9b0000;
  color: white;
  position: absolute;
  padding: 5px;
  top: 20px;
  left: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.blog .blog_content {
  background: #9b0000;
  padding: 5px;
  color: white;
}

.blog .read_more {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(155, 0, 0, 0.4);
  color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.blog .read_more i {
  font-size: 50px;
  padding: 5px;
}

.blog .blog_wrap:hover .read_more {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.blog .blog_wrap:hover .date {
  opacity: 0;
}

.insta .diamond_insta {
  overflow: hidden;
  padding: 30px;
  width: 90%;
  margin: 0 auto;
}

.insta .diamond_insta .item {
  width: 210px;
  height: 210px;
  position: relative;
}

.insta .diamond_insta .item img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.insta .diamond_insta .icon {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(155, 0, 0, 0.4);
  color: white;
  line-height: 200px;
  font-size: 30px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.insta .diamond_insta .item:hover .icon {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

footer {
  padding-top: 10%;
  position: relative;
  color: #9b0000;
  background: #eeeeee;
}

footer a, footer p {
  font-size: 14px;
}

footer i {
  padding: 5px;
}

footer .footer_contact {
  padding: 20px;
}

footer .footer_contact .button {
  color: white;
  background: #9b0000;
  padding: 10px;
  border: none;
  outline: none;
}

footer .footer_contact .social_media i {
  padding: 20px;
  font-size: 25px;
}

footer .quick_menu {
  padding: 20px;
}

footer .quick_menu a {
  display: block;
  padding: 10px;
}

footer .quick_menu i {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  padding: 5px;
}

footer:before {
  content: "";
  height: 100px;
  background: url(../img/wave-large.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.copyright {
  background: #9b0000;
  color: white;
  padding-top: 10px;
}

.copyright p {
  font-size: 13px;
}

.application_popup {
  overflow: visible;
  background: white;
}

.application_popup form {
  width: 100%;
  padding: 20px;
}

.application_popup form label {
  color: #9b0000;
  font-size: 19px;
}

.application_popup form button {
  background: #9b0000;
  color: white;
  border: 1px solid #9b0000;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin: auto;
  cursor: pointer;
}

.application_popup form button:hover {
  background: white;
  color: #9b0000;
}

.application_popup form input[type="text"], .application_popup form input[type="email"], .application_popup form textarea {
  border: none;
  color: #9b0000;
  border: 1px solid #9b0000;
}

.application_popup form input::-webkit-input-placeholder, .application_popup form textarea::-webkit-input-placeholder {
  color: #9b0000;
  font-size: 14px;
  opacity: 0.5;
}

.application_popup form input:-ms-input-placeholder, .application_popup form textarea:-ms-input-placeholder {
  color: #9b0000;
  font-size: 14px;
  opacity: 0.5;
}

.application_popup form input::-ms-input-placeholder, .application_popup form textarea::-ms-input-placeholder {
  color: #9b0000;
  font-size: 14px;
  opacity: 0.5;
}

.application_popup form input::placeholder, .application_popup form textarea::placeholder {
  color: #9b0000;
  font-size: 14px;
  opacity: 0.5;
}

.application_popup form input:focus, .application_popup form select:focus, .application_popup form textarea:focus {
  background: none;
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #9b0000;
}

.modal {
  background: white !important;
  max-width: 50% !important;
}

.country .country_page_background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/nepal_bg.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/nepal_bg.jpg);
}

.country .country_wrap {
  margin-top: 50px;
}

.country .country_wrap h3 {
  color: #9b0000;
}

.country .country_wrap img {
  width: 100%;
  padding-bottom: 10px;
}

.country .country_wrap .info {
  color: #9b0000;
  padding: 10px;
}

.country .country_wrap .info p {
  font-size: 15px;
}

.activity_wrap {
  position: relative;
  color: white;
  padding: 20px;
}

.activity_wrap .image {
  height: 200px;
  width: 100%;
  position: relative;
}

.activity_wrap h6 {
  background: #9b0000;
  padding: 10px;
}

.activity_wrap .details {
  padding: 10px;
  background: rgba(155, 0, 0, 0.4);
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.activity_wrap .details button {
  background: #009b00;
  color: white;
  outline: none;
  border: none;
  width: 50%;
  height: 20%;
}

.activity_wrap .details p {
  font-size: 14px;
}

.activity_wrap .dis {
  background: #f5f5f5;
}

.activity_wrap .dis p {
  color: #9b0000;
  padding: 10px;
}

.activity_wrap:hover .details {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.blog_inner .inner_page_background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/blog_inner.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/blog_inner.jpg);
}

.blog_inner .img_wrapper {
  height: 200px;
  position: relative;
}

.blog_inner .date {
  background: #9b0000;
  color: white;
  position: absolute;
  padding: 5px;
  top: 20px;
  left: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.blog_inner .blog_wrapper {
  margin: 30px auto;
}

.blog_inner .blog_item {
  margin: 50px auto;
}

.blog_inner .blog_item h3, .blog_inner .blog_item a {
  color: #9b0000;
}

.blog_inner .blog_item p {
  padding: 0px 5px;
}

.single_blog {
  text-align: justify;
}

.single_blog .inner_page_background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/blog_inner.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/blog_inner.jpg);
}

.single_blog .img_wrapper {
  height: 400px;
  position: relative;
}

.single_blog .date {
  background: #9b0000;
  color: white;
  position: absolute;
  padding: 5px;
  top: 20px;
  left: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.single_blog .related_h3 {
  color: #9b0000;
  padding: 20px;
}

.single_blog .related_blog {
  margin: 20px auto;
}

.single_blog .related_blog .img_wrapper {
  height: 200px;
  position: relative;
}

.single_blog .related_blog .date {
  background: #9b0000;
  color: white;
  position: absolute;
  padding: 5px;
  top: 20px;
  left: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.single_blog .related_blog .blog_content {
  background: #9b0000;
  padding: 5px;
  color: white;
}

.single_blog .related_blog .read_more {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(155, 0, 0, 0.4);
  color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.single_blog .related_blog .read_more i {
  font-size: 50px;
  padding: 5px;
}

.single_blog .related_blog .blog_wrap:hover .read_more {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.single_blog .related_blog .blog_wrap:hover .date {
  opacity: 0;
}

.about_us {
  text-align: justify;
}

.about_us .inner_page_background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/about_us.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/about_us.jpg);
}

.about_us .img_wrapper {
  height: 300px;
}

.about_us .about_wrap {
  margin-top: 40px;
}

.about_us h2 {
  color: #9b0000;
}

.about_us span {
  position: relative;
}

.about_us span:before {
  content: "";
  background: #9b0000;
  position: absolute;
  height: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  left: -70px;
}

.about_us .about_img {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (minmax(50px, auto))[15];
      grid-template-rows: repeat(15, minmax(50px, auto));
}

.about_us .about_img .img-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.about_us .about_img .img-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3/7;
}

.about_us .about_img .img-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  grid-row: 6/10;
}

.about_us .about_img .img-4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9/13;
}

.about_us .about_img .img-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 12;
  -ms-grid-row-span: 4;
  grid-row: 12/16;
}

.contact_us .inner_page_background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/contact.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/contact.jpg);
}

.contact_us i {
  padding: 5px;
  font-size: 30px;
  color: #9b0000;
}

.contact_us .details, .contact_us .inquiry {
  margin-top: 20px;
  padding: 10px;
}

.contact_us .section_title {
  text-align: start;
}

.contact_us .section_title h3:after {
  display: none;
}

.contact_us form button {
  background: #9b0000;
  color: white;
  border: 1px solid #9b0000;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin: auto;
  cursor: pointer;
}

.contact_us form button:hover {
  background: white;
  color: #9b0000;
}

.contact_us form input:focus, .contact_us form select:focus, .contact_us form textarea:focus {
  background: none;
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #9b0000;
}

.contact_us .map {
  overflow: hidden;
}

.activity .img_wrapper, .activity_innerpage .img_wrapper, .package_innerpage .img_wrapper {
  height: 100vh;
}

.activity .activity_slider, .activity_innerpage .activity_slider, .package_innerpage .activity_slider {
  position: relative;
}

.activity .activity_slider .slick-arrow, .activity_innerpage .activity_slider .slick-arrow, .package_innerpage .activity_slider .slick-arrow {
  position: absolute;
  color: white;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.activity .activity_slider .slick-arrow span, .activity_innerpage .activity_slider .slick-arrow span, .package_innerpage .activity_slider .slick-arrow span {
  font-size: 25px;
}

.activity .activity_slider .right.slick-arrow, .activity_innerpage .activity_slider .right.slick-arrow, .package_innerpage .activity_slider .right.slick-arrow {
  right: 15px;
  padding: 10px;
}

.activity .activity_slider .left.slick-arrow, .activity_innerpage .activity_slider .left.slick-arrow, .package_innerpage .activity_slider .left.slick-arrow {
  left: 15px;
  z-index: 99;
  padding: 10px;
}

.activity .activity_slider:before, .activity_innerpage .activity_slider:before, .package_innerpage .activity_slider:before {
  z-index: 999;
  content: "";
  height: 100px;
  background: url(../img/wave-large.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.activity .menu, .activity_innerpage .menu, .package_innerpage .menu {
  position: absolute;
  bottom: 80px;
  left: 50px;
  color: white;
}

.activity .section_title p, .activity_innerpage .section_title p, .package_innerpage .section_title p {
  text-align: start;
  padding: 10px;
}

.activity .sub_title, .activity_innerpage .sub_title, .package_innerpage .sub_title {
  padding: 10px;
}

.activity .sub_title h3, .activity_innerpage .sub_title h3, .package_innerpage .sub_title h3 {
  color: #9b0000;
  position: relative;
}

.activity .sub_title h3:before, .activity_innerpage .sub_title h3:before, .package_innerpage .sub_title h3:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 5px;
  background: #9b0000;
  left: -20px;
}

.activity .activity_wrap .img_wrapper, .activity_innerpage .activity_wrap .img_wrapper, .package_innerpage .activity_wrap .img_wrapper {
  height: 300px;
}

.activity_innerpage .activity_package_wrapper {
  color: #9b0000;
}

.activity_innerpage .activity_package_wrapper .img_wrapper {
  height: 200px;
  position: relative;
}

.activity_innerpage .activity_package_wrapper h5 {
  padding: 5px;
  font-weight: bolder;
}

.activity_innerpage .activity_package_wrapper .text-center {
  background: #f5f5f5;
  padding: 10px;
}

.activity_innerpage .activity_package_wrapper span {
  background: #009b00;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.activity_innerpage .activity_package_wrapper .btn {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.activity_innerpage .activity_package_wrapper .btn p {
  line-height: 200px;
  color: white;
  background: #009b00;
  display: inline;
  padding: 15px;
  border-radius: 5px;
  font-weight: bolder;
}

.activity_innerpage .activity_package_wrapper .package_item:hover .btn {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.package_innerpage .price {
  width: 300px;
  text-align: center;
  background: #f5f5f5;
  padding: 20px;
  z-index: 999;
  position: absolute;
  bottom: 0;
  right: 50px;
}

.package_innerpage .price h1 {
  color: #009b00;
}

.package_innerpage .price h1 i {
  color: #009b00;
  padding: 5px;
}

.package_innerpage .price a {
  display: block;
  background: #9b0000;
  padding: 10px;
  color: white;
  margin: 5px;
  border: 1px solid #9b0000;
  -webkit-transition: 0.5 ease;
  transition: 0.5 ease;
}

.package_innerpage .price a:hover {
  background: white;
  color: #9b0000;
}

.package_innerpage .package_details_wrapper {
  position: relative;
}

.package_innerpage .details_menu {
  margin: 20px auto;
  background: #f5f5f5;
  text-align: center;
  color: #9b0000;
  padding: 5px;
  z-index: 9999;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.package_innerpage .details_menu a {
  display: block;
}

.package_innerpage .details_menu p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.package_innerpage .details_menu i {
  font-size: 20px;
  padding: 10px;
}

.package_innerpage .details {
  padding-top: 10%;
}

.package_innerpage .details .box {
  padding: 20px;
}

.package_innerpage .details .box p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  border-left: 0.5px solid #9b0000;
  padding-left: 10px;
}

.package_innerpage .details .box i {
  color: #9b0000;
  font-size: 25px;
  padding: 10px;
}

.package_innerpage .sub_title {
  margin: 10px 0;
  padding: 10px;
}

.package_innerpage .sub_title h4 {
  color: #9b0000;
  position: relative;
}

.package_innerpage .sub_title h4:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 5px;
  background: #9b0000;
  left: -20px;
}

.package_innerpage .details_box {
  padding: 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.package_innerpage .details_box p {
  font-size: 15px;
}

.package_innerpage .itinerary, .package_innerpage .fnq {
  padding-bottom: 30px;
}

.package_innerpage .itinerary .card-header, .package_innerpage .fnq .card-header {
  background: #f5f5f5 !important;
  padding: 0;
}

.package_innerpage .itinerary button, .package_innerpage .fnq button {
  text-decoration: none;
  color: #9b0000;
  width: 100%;
  text-align: start;
  font-weight: bolder;
}

.package_innerpage .itinerary button i, .package_innerpage .fnq button i {
  padding: 5px 10px;
}

.package_innerpage .itinerary .card-body, .package_innerpage .fnq .card-body {
  font-size: 15px;
}

.package_innerpage .cost_inclusion p, .package_innerpage .cost_exclusion p {
  padding: 0;
  margin: 0;
}

.package_innerpage .cost_inclusion i, .package_innerpage .cost_exclusion i {
  padding: 10px;
  color: #009b00;
}

.package_innerpage .cost_exclusion i {
  color: red;
}

.package_innerpage .date ul.tabs li {
  background: #f5f5f5;
  color: black;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

.package_innerpage .date ul.tabs li.current {
  background: #9b0000;
  color: white;
}

.package_innerpage .date .tab-content {
  display: none;
  background: #f5f5f5;
  padding: 15px;
}

.package_innerpage .date .tab_content_wrap {
  padding: 10px;
  background: #9b0000;
  width: 100%;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.package_innerpage .date .tab_content_wrap h6 {
  border-bottom: 0.5px solid white;
  padding: 5px;
}

.package_innerpage .date .tab_content_wrap p {
  font-size: 13px;
}

.package_innerpage .date .tab_content_wrap a {
  background: #009b00;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.package_innerpage .date .tab-content.current {
  display: inherit;
}

.package_innerpage .photo_slider {
  margin-bottom: 20px;
}

.package_innerpage .photo_slider .img_wrapper {
  height: 300px;
}

.package_innerpage .photo_slider .slick-arrow {
  position: absolute;
  color: white;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.package_innerpage .photo_slider .slick-arrow span {
  font-size: 25px;
}

.package_innerpage .photo_slider .right.slick-arrow {
  right: 15px;
  padding: 10px;
}

.package_innerpage .photo_slider .left.slick-arrow {
  left: 15px;
  z-index: 99;
  padding: 10px;
}

.package_innerpage .review i {
  color: #9b0000;
  font-size: 30px;
  padding: 10px;
}

.package_innerpage .comment label {
  font-size: 15px;
}

.package_innerpage .comment button {
  background: #9b0000;
  color: white;
  border: 1px solid #9b0000;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin: auto;
  cursor: pointer;
}

.package_innerpage .comment button:hover {
  background: white;
  color: #9b0000;
}

.package_innerpage .comment input[type="text"], .package_innerpage .comment input[type="email"], .package_innerpage .comment textarea {
  border: none;
  border: 0.5px solid black;
}

.package_innerpage .comment input::-webkit-input-placeholder, .package_innerpage .comment textarea::-webkit-input-placeholder {
  font-size: 14px;
  opacity: 0.5;
}

.package_innerpage .comment input:-ms-input-placeholder, .package_innerpage .comment textarea:-ms-input-placeholder {
  font-size: 14px;
  opacity: 0.5;
}

.package_innerpage .comment input::-ms-input-placeholder, .package_innerpage .comment textarea::-ms-input-placeholder {
  font-size: 14px;
  opacity: 0.5;
}

.package_innerpage .comment input::placeholder, .package_innerpage .comment textarea::placeholder {
  font-size: 14px;
  opacity: 0.5;
}

.package_innerpage .comment input:focus, .package_innerpage .comment select:focus, .package_innerpage .comment textarea:focus {
  background: none;
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #9b0000;
}

.package_innerpage .easy_contact {
  color: white;
  padding: 20px;
}

.package_innerpage .related_trip {
  margin-top: 20px;
}

.package_innerpage .related_trip h4 {
  color: #9b0000;
  padding: 10px;
}

.package_innerpage .related_box {
  color: #9b0000;
}

.package_innerpage .related_box .img_wrapper {
  height: 200px;
  position: relative;
}

.package_innerpage .related_box h6 {
  padding: 5px;
  font-weight: bolder;
}

.package_innerpage .related_box .text-center {
  background: #f5f5f5;
  padding: 10px;
}

.package_innerpage .related_box span {
  background: #009b00;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.package_innerpage .related_box .btn {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.package_innerpage .related_box .btn p {
  line-height: 200px;
  color: white;
  background: #009b00;
  display: inline;
  padding: 15px;
  border-radius: 5px;
  font-weight: bolder;
}

.package_innerpage .related_box .related_item {
  margin: 20px 0;
}

.package_innerpage .related_box .related_item:hover .btn {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
/*# sourceMappingURL=custom.css.map */